.container {
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
  padding: 5px 40px 0;
}
.section_title {
  text-align: center;
}
/* header */
.header {
  height: 115px;
  background-color: burlywood;
  .header_top {
    height: 35px;
    background-color:aliceblue;
  }
}
/* slide */
.section {
  &.slide_wrap {
    width: 100%;
    height: 650px;
    background-color: bisque;
  }
  &.main_store {
    .container {
      padding-top: 60px;
      padding-bottom: 60px;
      .product_wrap {
        @include flex;
        column-gap: 30px;
        width: 100%;
        height: 100%;
        .product {
          width: calc(100% / 4);
          padding-bottom: calc(100% / 4);
          border: 1px solid #000;
        }
      }
    }
  }
}
